<html>
    <head>
            <title>Title Here</title>
    <head>
            <!-- This is The home Page -->
        <body>
            <h1> Testing homePage url</h1>
            <h2> Sign Up Debugging</h2>
            {% if user.is_active%}
                <p> User logged in</p>
                <form method = 'get' action="{% url 'signout'%}">
                    <button type="submit">LOGOUT</button>
                </form>
                <form method="get" action="{% url 'profilePage'%}">

                    <button type="submit">PROFILE</button>
                </form>

            {%else%}
            <p> Not logged in yet</p>
            <form method="get" action = "accounts/login">
                <!--  This form will request a file to sign-->
                <button type="submit">LOGIN</button>
            </form>
            {%endif%}
            <form method="get", action="{% url 'signup'%}">
                <button type="submit" name = "signupbtn"> SignUp</button>
            </form>
            <form method="get" action="{% url 'zipCodeSearch'%}">
                <!--  Search for nearby profiles -->
                <button type="submit">Search</button>
            </form>
            {%block content%}
            {%endblock%}
        </body>
</html>
