<html>
    <head>
            <title> Welcome to the profile Page</title>
    </head>
            <!-- Profile MODULE -->
    <body>
            <h1> Profile for {{profile.user.username}}</h1>
            <p>Username: {{profile.user.username}}</p>
            <p>Bio: <textarea>{{profile.bio}}</textarea></p>
            <p>Zip Code: {{profile.zipCode}}</p>
            <p> City: {{profile.city}}</p>
            <p> State: {{profile.state}}</p>
            <p> BirthDay: {{profile.birth_date}}</p>
            <p> Seeker?: {{profile.seeker}}</p>
            <p> This is the directory:{{profile.profile_Image.url}}</p>
            <img src="{{image}}" width="300px" height="200px"></img>
    </body>

</html>
